<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Verizon Family Locator Web Regression Test Suite" verbose="1" >
  
  <test name="Add Tests" >
    <classes>
       <class name="webTests.AddaPlace" />
	   <class name="webTests.AddContacts" />
	   <class name="webTests.AddLocationBasedAlert" />
	   <class name="webTests.AddScheduledAlert" />
    </classes>
  </test>
  
  <test name="Remove Tests">
    <classes>
      <class name="webTests.DeleteLocationBasedAlert" />
      <class name="webTests.DeleteScheduledAlert" />
      <class name="webTests.DeleteContacts" />
    </classes>
  </test>
  
</suite>